body {
  min-height: 100%;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

#root {
  margin: 0;
  background-color: #f9f9f9;
}

img.logo {
  margin: 10px 0;
  max-width: 50px;
}

.min-list-size {
  min-height: calc(100vh - 365px);
}

.image.is-rounded img {
  border-radius: 50%;
}

.image.is-centered {
  text-align: center;
  margin: auto;
}

.avatar img {
  padding: 5px;
  background-color: white;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.p-1 {
  padding: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list li {
  list-style: none;
}

.card:hover {
  background-color: #ccc;
}
