body {
  min-height: 100%;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

#root {
  margin: 0;
}

img.logo {
  margin: 10px 0;
  max-width: 50px;
}

.min-list-size {
  min-height: calc(100vh - 365px);
}
